body {
    text-align: center;
}
#timer {
    font-size: 48px;
    margin-top: 50px;
}
#controls {
    position: relative;
    
    display: flex; flex-direction: row; align-items: center; justify-content: center;
    text-align: center;
    height: fit-content;
}
#Pomodoro_div{
    background-color: whitesmoke;
    max-width: fit-content;
    max-height: fit-content;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    text-align: center;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
}

#startButton, #pauseButton, #resetButton {
    transition: transform 0.2s ease-in-out;
}

#startButton:active, #pauseButton:active, #resetButton:active {
    animation: butt 0.1s linear;
}

@keyframes butt {
    from {
        transform: scale(2);
    }
    to {
        transform: scale(2.3);
    }
}




