body{
    font-family: 'Poppins';
  }
    #timerDisplay {
        border: 1px solid;
        padding: 10px;
        background-color: #f0f0f0;
        margin-top: 20px;
        margin-left : auto;
        color : black;
        width : 30 px;
    }
    body
{
    background-color:white;
    background-position:fixed;
}
.container
{
  padding:30px;
  background-color:black;
  width:100%;
  text-align:center;
}
.container h2
{
    margin:0;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-attachment:fixed;
}
table
{
    border-collapse:collapse;
    width:100%;
    background-color:#ffffff;
}
th,td{
    border-bottom:1px solid #ddd;
    padding:8px;
    text-align:left;
}
th{
    background-color:#2b2d42;
    color:#ffffff;
}
tr:hover
{
    background-color:#f2f2f2;
}
.btn {
 position: relative;
 display: flex;
 overflow: hidden;
 cursor: pointer;
 width: 150px;
 height: 50px;
 background-color: #eeeeed;
 border-radius: 80px;
 border: none;
 padding: 0 80px;
 transition: all .2s ease;
 justify-content: center;
 align-items: center;
}

.btn:hover {
 transform: scale(1.1);
}

.btn span {
 position: absolute;
 z-index: 99;
 width: 150px;
 height: 50px;
 border-radius: 80px;
 font-family: 'Poppins';
 font-weight: 650;
 font-size: 12px;
 text-align: center;
 line-height: 50px;
 letter-spacing: 2px;
 color: #eeeeed;
 background-color: #1f1f1f;
 padding: 0 10px;
 transition: all 1.2s ease;
}

.btn:hover span {
 opacity: 0;
}

.btn:hover svg {
 opacity: 1;
}