{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        {% block style  %}
        #completedChart{
            width: 300px;  
            height: 200px; 
            margin-left:auto;
            margin-right:auto;
            margin-top:20px;
        }
        #notCompletedChart{
            width: 300px;  
            height: 200px; 
            margin-left:auto;
            margin-right:auto;
            margin-top:40px;
            padding:10px;
        }
        {% endblock style %}
    </style>
    {%endblock head%}
</head>
<body>
    {% block body %}
    <div>
        <canvas id="completedChart" width="800" height="600"></canvas>
        <canvas id="notCompletedChart" width="800" height="600"></canvas>
    </div>
    <script>
        const ctxCompleted = document.getElementById('completedChart').getContext('2d');
        const ctxNotCompleted = document.getElementById('notCompletedChart').getContext('2d');

        const completedChartData = JSON.parse('{{ completed_tasks|escapejs }}');
        const notCompletedChartData = JSON.parse('{{ not_completed_tasks|escapejs }}');

        const labelsCompleted = completedChartData.map(item => item.date);
        const valuesCompleted = completedChartData.map(item => item.value);

        const labelsNotCompleted = notCompletedChartData.map(item => item.date);
        const valuesNotCompleted = notCompletedChartData.map(item => item.value);

        const completedChart = new Chart(ctxCompleted, {
            type: "line",
            data: {
                labels: labelsCompleted,
                datasets: [{
                    label: 'Completed Tasks',
                    backgroundColor: '#417690',
                    borderColor: '#417690',
                    data: valuesCompleted,
                    fill: false,
                    showLine: true,
                    yAxisID: 'y1'
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Completed Tasks Dashboard',
                        font: {
                            size: 20
                        }
                    }
                },
                responsive: false,
                maintainAspectRatio:false,
            }
        });

        const notCompletedChart = new Chart(ctxNotCompleted, {
            type: "line",
            data: {
                labels: labelsNotCompleted,
                datasets: [{
                    label: 'Not Completed Tasks',
                    backgroundColor: '#79AEC8',
                    borderColor: '#79AEC8',
                    data: valuesNotCompleted,
                    fill: false,
                    showLine: true,
                    yAxisID: 'y2'
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Not Completed Tasks Dashboard',
                        font: {
                            size: 20
                        }
                    }
                },
                responsive: false,
                maintainAspectRatio:false,
            }
        });
    </script>
    {% endblock body %}
</body>
</html>