{% extends "base.html" %}
{% load static %}
{% block body %}
<h1>Welcome to Student Synergy</h1><br>
<div class="rectangle"> 
  
</div>{% endblock body %}

{% block style%}
  .rectangle {
    width: 500px;
    height: 200px; 
    background-color: #36454F; 
    border: 2px solid #333; 
    border-radius: 10px;  
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.3);
    position: fixed;left: 520px; top: 300px; 
  }
  <audio id="alarmSound" src="{% static 'js/audio.mp3' %}" preload="auto"></audio>
       <script src = "{% static 'js/timer.js' %}"></script>
       
        
  {% comment %} body{
    background-color= #1b263b;
  }; {% endcomment %}
  <script src = {% static 'js/timer.js' %};>
    timer_run();
  </script>
{% endblock style %}

