{% extends "base.html" %}
{% load static %}
<head>
    {%block head%}
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'css/timetable.css' %}">
  {%endblock head%}
</head>
<style>
    {% block style%}
  

    {%endblock style%}

</style>

 <body>
    {% block body %}
    <h2>Time Table Form</h2>
    <div id="time_table" class="container-fluid">
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        
        <button type="submit" class="btn">
          <span>Save</span>
          
        </button>
        
        
        <script>
  // Get current date
  var currentDate = new Date().toISOString().split('T')[0];
  
  // Set min attribute to current date
  document.getElementById('date').min = currentDate;
</script>

</form>
</div>
<div id ="table_buttons" class="container-fluid">
<form action="/get/" method="post">
    {% csrf_token %}
    <button class="btn" type="submit"><span>Get Timetable</span>
      </button>
</form>


<form action="/delete_all/" method="post">
    {% csrf_token %}
    <button class="btn" type="submit"><span>Delete All</span>
      </button>
</form>
<form action="/return/" method="post">
    {% csrf_token %}
    <button  class="btn" type="submit"><span>Return</span>
      </button>
</form>
</div>
    {# Display the data if it exists #}
    {% if timetable_data %}
    <div>
        <h2>Time Table</h2>
        <form action="/delete_tasks/" method="post">
        <table>
            <thead>
                <tr>
                    
                    <th style="padding:10px">Date</th>
                    <th style="padding:10px">Day of Week</th>
                    <th style="padding:10px">Time Slot</th>
                    <th style="padding:10px">Task/Activity</th>
                    <th style="padding:10px">Description</th>
                    <th style="padding:10px">Status</th>
                    <th style="padding:10px">Recurring</th>
                    
                </tr>
            </thead>
            <tbody id="timetable_body">
                {% for entry in timetable_data %}
                <tr>
                    
                    <td style="padding:10px">{{ entry.date }}</td>
                    <td style="padding:10px">{{ entry.day_of_week }}</td>
                    <td style="padding:10px">{{ entry.time_slot }}</td>
                    <td style="padding:10px">{{ entry.task_activity }}</td>
                    <td style="padding:10px">{{ entry.description }}</td>
                    <td style="padding:10px">{{ entry.status }}</td>
                    <td style="padding:10px">{{ entry.recurring }}</td>
                    <td><input type="checkbox" name="selected_tasks" value="{{ entry.id }}"></td>


                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        
        
            {% csrf_token %}
            <button  class="btn" type="submit" name="delete_button" value="delete"><span>Delete Selected Tasks</span>
              </button>
            <button  class="btn" type="submit" name="complete_button" value="complete"><span>Mark Selected Tasks as Completed</span>
              </button>
        
        </form>
        <audio id="alarmSound" src="{% static 'js/audio.mp3' %}" preload="auto"></audio>

        <span id = "fir" style="display:none;" >{{ timetable_data.0.date }}</span>
        <span id = "scheduledTime" style="display:none;">{{ timetable_data.0.time_slot }}</span>
        
    <audio id="alarmSound" src="{% static 'audio.mp3' %}" preload="auto"></audio>
       <script src = "{% static 'js/timer.js' %}">  </script>
       
        <button onclick="playSound()">Play Sound </button>
      
       
    </div>
    {% endif %}
  
    

       

    
    
   

{% endblock body %}
</body>
</html> 